<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{- if .Description }}
    <meta name="description" content="{{ .Description }}">
    {{- else }}
    <meta name="description" content="Wahyu Wiyoko's blog for writing contents.">
    {{- end }}
    <link rel="icon" type="image/x-icon" href="{{ relURL "icons/favicon.ico" }}">
    {{- $style := resources.Get "css/style.css" | minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{- $syntax := resources.Get "css/syntax.css" | minify }}
    <link rel="stylesheet" href="{{ $syntax.Permalink }}">
    <link rel="alternate" href="{{ relURL "index.xml" }}" type="application/rss+xml" title="{{ .Site.Title }}">
    <title>{{ .Title }}</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="{{ relURL "" }}">Home</a>
        <a href="{{ relURL "tags" }}">Tags</a>
        <a href="{{ relURL "archive" }}">Archive</a>
        <a href="{{ relURL "search" }}" class="mobile-hide">Search</a>
        <a href="https://wahyuwiyoko.github.io/" class="mobile-hide">About</a>
        <a href="https://github.com/wahyuwiyoko" class="mobile-hide">GitHub</a>
        <a href="{{ relURL "index.xml" }}" class="mobile-hide">RSS</a>
        <a href="{{ relURL "more-links" }}" class="mobile-show">More</a>
      </nav>
    </header>

    <main>
      {{- block "main" . }} {{- end -}}
    </main>

    <footer>
      <p>&copy; 2023 Wahyu Wiyoko</p>
    </footer>
  </body>
  {{- $script := resources.Get "js/script.js" | minify }}
  <script src="{{ $script.Permalink }}"></script>
</html>
