{{ define "main" }}
  <section>
    <h2 class="category">{{ .Title }}</h2>
    {{- range .Paginator.Pages }}
      <article>
        <h3><a href="{{ .Permalink | relURL }}">{{ .Title }}</a></h3>
        <p>{{ .Date.Format "January 2, 2006" }}</p>
      </article>
    {{- end }}
  </section>

  {{ if gt .Paginator.TotalPages 1 }}
    <div class="paginator">
      {{- if .Paginator.HasPrev }}
        <a href="{{ .Paginator.Prev.URL }}">Prev</a>
      {{- end -}}

      {{ if .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL }}">Next</a>
      {{- end }}
    </div>
  {{ end }}
{{- end }}
