{{ define "main" }}
  <article class="content">
    <header>
      <h1>{{ .Title }}</h1>
      <p>Published: {{ .Date.Format "January 2, 2006"}}</p>
      <p>Updated: {{ .Lastmod.Format "January 2, 2006"}}</p>

      {{- if .Params.toc }}
        <details>
          <summary>Table of Contents</summary>
          {{ .TableOfContents }}
        </details>
      {{- end }}
    </header>

    {{ .Content -}}

    {{- if .Params.tags }}
      <footer class="tags">
        {{- range .Params.tags }}
          <a href="{{ relURL "tags" }}/{{ . | urlize }}">{{ . }}</a>
        {{- end }}
      </footer>
    {{ end -}}
  </article>
{{ end }}
