{{ define "main" }}
  <section class="content">
    <h1>{{ .Title }}</h1>
    <p>{{ .Description }}</p>
    <p>Published: {{ .Date.Format "January 2, 2006"}}</p>
    <p>Last updated: {{ .Lastmod.Format "January 2, 2006"}}</p>
    {{ range .Params.tags }}
      <a href="{{ relURL "tags" }}/{{ . | urlize }}">{{ . }}</a>
    {{ end }}
    <br><br>
    <a href="{{ site.Params.editPost.url }}{{ path.Join .File.Path }}" target="_blank">{{ site.Params.editPost.text }}</a>
    {{ if .Params.toc }}
      <br><br>
      <details>
        <summary>Table of Contents</summary>
        {{ .TableOfContents }}
      </details>
    {{ end }}
    <hr class="divider">
    {{ .Content -}}
  </section>
{{- end }}
