{{ define "main" }}
  <section class="content">
    <h1>{{ .Title }}</h1>
    <p>{{ .Description }}</p>
    <p>Published: {{ .Date.Format "January 2, 2006"}}</p>
    <p>Updated: {{ .Lastmod.Format "January 2, 2006"}}</p>
    {{- if .Params.tags }}
      <div class="tags">
        {{- range .Params.tags }}
          <a href="{{ relURL "tags" }}/{{ . | urlize }}">{{ . }}</a>
        {{- end }}
      </div>
    {{ end -}}
    {{- if .Params.toc }}
      <br><br>
      <details>
        <summary>Table of Contents</summary>
        {{ .TableOfContents }}
      </details>
    {{- end }}
    <hr class="divider">
    {{ .Content -}}
  </section>
{{ end }}
