:root {
  --base: #faf4ed;
  --overlay: #f2e9e1;
  --muted: #9893a5;
  --subtle: #797593;
  --text: #575279;
  --love: #b4637a;
  --gold: #ea9d34;
  --rose: #d7827e;
  --pine: #286983;
  --foam: #56949f;
  --iris: #907aa9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base: #191724;
    --overlay: #26233a;
    --muted: #6e6a86;
    --subtle: #908caa;
    --text: #e0def4;
    --love: #eb6f92;
    --gold: #f6c177;
    --rose: #ebbcba;
    --pine: #31748f;
    --foam: #9ccfd8;
    --iris: #c4a7e7;
  }
}

/* PreWrapper */
.chroma {
  color: var(--text);
}

/* Other */
.chroma .x {
  color: var(--text);
}

/* Error */
.chroma .err {
  color: var(--love);
}

/* CodeLine */
.chroma .cl {
  color: var(--text);
}

/* Line */
.chroma .line {
  display: flex;
}

/* LineLink */
.chroma .lnlinks {
  outline: none;
  text-decoration: none;
  color: inherit;
}

/* LineHighlight */
.chroma .hl,
.line.hl .cl {
  background-color: var(--overlay);
}

/* LineNumbers */
.chroma .ln {
  white-space: pre;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em;
  color: var(--text);
}

/* Keyword */
.chroma .k {
  color: var(--pine);
}

/* KeywordConstant */
.chroma .kc {
  color: var(--pine);
}

/* KeywordDeclaration */
.chroma .kd {
  color: var(--pine);
}

/* KeywordNamespace */
.chroma .kn {
  color: var(--iris);
}

/* KeywordPseudo */
.chroma .kp {
  color: var(--pine);
}

/* KeywordReserved */
.chroma .kr {
  color: var(--pine);
}

/* KeywordType */
.chroma .kt {
  color: var(--pine);
}

/* Name */
.chroma .n {
  color: var(--rose);
}

/* NameAttribute */
.chroma .na {
  color: var(--rose);
}

/* NameBuiltin */
.chroma .nb {
  color: var(--rose);
}

/* NameBuiltinPseudo */
.chroma .bp {
  color: var(--rose);
}

/* NameClass */
.chroma .nc {
  color: var(--foam);
}

/* NameConstant */
.chroma .no {
  color: var(--gold);
}

/* NameDecorator */
.chroma .nd {
  color: var(--subtle);
}

/* NameEntity */
.chroma .ni {
  color: var(--rose);
}

/* NameException */
.chroma .ne {
  color: var(--pine);
}

/* NameFunction */
.chroma .nf {
  color: var(--rose);
}

/* NameFunctionMagic */
.chroma .fm {
  color: var(--rose);
}

/* NameLabel */
.chroma .nl {
  color: var(--rose);
}

/* NameNamespace */
.chroma .nn {
  color: var(--rose);
}

/* NameOther */
.chroma .nx {
  color: var(--text);
}

/* NameProperty */
.chroma .py {
  color: var(--rose);
}

/* NameTag */
.chroma .nt {
  color: var(--rose);
}

/* NameVariable */
.chroma .nv {
  color: var(--rose);
}

/* NameVariableClass */
.chroma .vc {
  color: var()var(--rose);
}

/* NameVariableGlobal */
.chroma .vg {
  color: var(--rose);
}

/* NameVariableInstance */
.chroma .vi {
  color: var(--rose);
}

/* NameVariableMagic */
.chroma .vm {
  color: var(--rose);
}

/* Literal */
.chroma .l {
  color: var(--gold);
}

/* LiteralDate */
.chroma .ld {
  color: var(--gold);
}

/* LiteralString */
.chroma .s {
  color: var(--gold);
}

/* LiteralStringAffix */
.chroma .sa {
  color: var(--gold);
}

/* LiteralStringBacktick */
.chroma .sb {
  color: var(--gold);
}

/* LiteralStringChar */
.chroma .sc {
  color: var(--gold);
}

/* LiteralStringDelimeter */
.chroma .dl {
  color: var(--gold);
}

/* LiteralStringDoc */
.chroma .sd {
  color: var(--gold);
}

/* LiteralStringDouble */
.chroma .s2 {
  color: var(--gold);
}

/* LiteralStringEscape */
.chroma .se {
  color: var(--pine);
}

/* LiteralStringHeredoc */
.chroma .sh {
  color: var(--gold);
}

/* LiteralStringInterpol */
.chroma .si {
  color: var(--gold);
}

/* LiteralStringOther */
.chroma .sx {
  color: var(--gold);
}

/* LiteralStringRegex */
.chroma .sr {
  color: var(--gold);
}

/* LiteralStringSingle */
.chroma .s1 {
  color: var(--gold);
}

/* LiteralStringSymbol */
.chroma .ss {
  color: var(--gold);
}

/* LiteralNumber */
.chroma .m {
  color: var(--gold);
}

/* LiteralNumberBin */
.chroma .mb {
  color: var(--gold);
}

/* LiteralNumberFloat */
.chroma .mf {
  color: var(--gold);
}

/* LiteralNumberHex */
.chroma .mh {
  color: var(--gold);
}

/* LiteralNumberInteger */
.chroma .mi {
  color: var(--gold);
}

/* LiteralNumberIntegerLong */
.chroma .il {
  color: var(--gold);
}

/* LiteralNumberOct */
.chroma .mo {
  color: var(--gold);
}

/* Operator */
.chroma .o {
  color: var(--subtle);
}

/* OperatorWord */
.chroma .ow {
  color: var(--subtle);
}

/* Punctuation */
.chroma .p {
  color: var(--subtle);
}

/* Comment */
.chroma .c {
  color: var(--muted);
}

/* CommentHashbang */
.chroma .ch {
  color: var(--muted);
}

/* CommentMultiline */
.chroma .cm {
  color: var(--muted);
}

/* CommentSingle */
.chroma .c1 {
  color: var(--muted);
}

/* CommentSpecial */
.chroma .cs {
  color: var(--muted);
}

/* CommentPreproc */
.chroma .cp {
  color: var(--muted);
}

/* CommentPreprocFile */
.chroma .cpf {
  color: var(--muted);
}

/* Generic */
.chroma .g {
  color: var(--text);
}

/* GenericDeleted */
.chroma .gd {
  color: var(--love);
}

/* GenericEmph */
.chroma .ge {
  font-style: italic;
}

/* GenericError */
.chroma gr {
  color: var(--text);
}

/* GenericHeading */
.chroma .gh {
  color: var(--text);
}

/* GenericInserted */
.chroma .gi {
  color: var(--foam);
}

/* GenericOutput */
.chroma .go {
  color: var(--text);
}

/* GenericPrompt */
.chroma .gp {
  color: var(--text);
}

/* GenericStrong */
.chroma .gs {
  font-weight: 700;
}

/* GenericSubheading */
.chroma .gu {
  color: var(--iris);
}

/* GenericTraceback */
.chroma .gt {
  color: var(--text);
}

/* GenericUnderline */
.chroma .gl {
  color: var(--text);
}

/* TextWhitespace */
.chroma .w {
  color: var(--text);
}
