{{ define "main" }}
  <section>
    <h2>Posts</h2>
    {{ $paginator := .Paginate (where (where .Site.RegularPages "Type" "post") ".Params.hidden" "!=" true) }}
    {{- range $paginator.Pages -}}
      <article>
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        <p>{{ .Date.Format "January 2, 2006" }}</p>
      </article>
    {{ end -}}
  </section>

  {{- if gt .Paginator.TotalPages 1 }}
    <div class="paginator">
      {{- if .Paginator.HasPrev }}
        <a href="{{ .Paginator.Prev.URL }}">Prev</a>
      {{- end -}}

      {{ if .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL }}">Next</a>
      {{- end }}
    </div>
  {{ end }}
{{ end }}
